<div>
  <h1>Consulta saldo</h1>
  <header>
    <div class="atenuado">
      Último login: {{ cliente.ultimoLogin | date:'short' }}
    </div>
    <div>
      <b>Cliente</b>: {{ cliente.nome | uppercase }}
    </div>
    <div>
      <b>Saldo</b>:
      <span [className]="getClassNamePorValor(cliente.saldo)">
        {{ cliente.saldo | currency }}
      </span>
    </div>
    @if (cliente.creditoPreAprovado !== undefined) {
      <div>
        <b>Crédito pré-aprovado</b>:
        <span [className]="getClassNamePorValor(cliente.creditoPreAprovado)">
          {{ cliente.creditoPreAprovado | currency }}
        </span>
      </div>
    }
  </header>
</div>
